{% extends 'base.html' %}

{% block title %} My cart {% endblock %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
  <h1 class="display-4 text-center">My Cart</h1>
  <table class="table table-bordered p-4 m-4">
    <thead>
      <tr>
        <th>S no.</th>
        <th>Image</th>
        <th>product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td><img height="80" class="rounded circle" src="{{product.image.url}}" alt=""></td>
        <td>{{product.name}}</td>
        <td>{{product.price|currency}}</td>
        <td>{{product|cart_quantity:request.session.cart}}</td>
        <td>{{product|price_total:request.session.cart|currency}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4"></th>
        <th colspan=>Total</th>
        <th>{{products|total_cart_price:request.session.cart|currency}}</th>
      </tr>
    </tfoot>
  </table>
  <div class="f-right">
    <a href="#" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Checkout</a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">CheckOut</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/check-out" method="post">
            {% csrf_token %}

            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" id="address">

            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone">

            <input type="submit" class="btn btn-outline-info mt-4" value="place Order">
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}