{% extends 'base.html' %}

{% block title %} Login here {% endblock %}

{% block content %}
<div class="container">
    <form action="/login" method="POST" class="form pt-4">
        {% csrf_token %}
        <!-- first name -->
        <div class="col-md-5 mx-auto border rounded p-4">
            <h3 class="text-center mb-3">Login here</h3>
            {% if error %}
            <p class="alert text-danger">
                {{error}}
            </p>            
            {% endif %}
        <!-- email -->
        <div class="form-group">
            <label for="email" >Email</label>
            <input type="email" class="form-control" value="{{values.email}}" id="email" name="email" placeholder="Example@gmail.com">
        </div>

        <!-- password -->
        <div class="form-group">
            <label for="password" >Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="*******">
        </div>
        
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-info">Login</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}